@import "./variables.scss";

:root {
  height: 100vh;
  transition: background 1s ease-in-out;
  background-size: cover;

  &:not(.hero-page)::before {
    content: "";
    background: $background;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

body {
  color: $text-color;
  height: calc(100vh - 3.5rem);
  margin: auto;
  max-width: $max-width;
  overflow: hidden;
  position: relative;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 3rem 3rem 0;
  position: relative;
  z-index: 4;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background-color: rgba(0, 105, 227, 0.80); /* Diminuir a opacidade do toggle */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 3;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;

  ul {
    list-style: none;
    padding: 10px;
    padding-top: 50%;

    li {
      margin-bottom: 10px;
    }

    a {
      display: block;
      padding: 10px;
      font-size: 2.5rem;
      text-decoration: none;
      color: $text-color;
    }
  }

  &.open {
    transform: translateX(0);
  }
}